---
import "../global.css";
import Favicons from "../components/Favicons.astro";
import Metadata from "../components/Metadata.astro";
import type { MetaData } from "../types";

export interface Props {
  metadata?: MetaData;
}

const { metadata = {} } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Inter:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href=""/>
    <Favicons />
    <Metadata {...metadata} />
  </head>
  <body class="min-h-screen bg-white text-gray-900 antialiased">
    <div class="flex min-h-screen flex-col">
      <slot />
    </div>
  </body>
</html>
